.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    /* Đảm bảo Modal nằm trên cùng */
    background-color: rgba(0, 0, 0, 0.5);
    /* Màu nền mờ */
    --bs-modal-width: 1100px;
}

.modal-content {
    width: fit-content;
    padding: 20px;

    .modal-header {
        .header-booking {
            display: flex;
            align-items: center;
            gap: 100px;
            white-space: nowrap;
        }

        .name {}

        .company-logistic {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .name-company {
                color: rgb(0, 134, 218);
                text-decoration: underline;
                font-weight: 500;
            }
        }

        .sale-representative {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .name-merchandiser {
                color: rgb(0, 134, 218);
                font-weight: 500;
            }
        }
    }

    .modal-body {
        .booking-main {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .from-to {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                gap: 30px;

                .name-from,
                .name-to {
                    display: flex;
                    flex-direction: column;



                    input {
                        width: 22vw;
                        font-size: 14px;
                        padding: 4px;

                    }
                }

                .delivery-conditions {
                    display: flex;
                    flex-direction: column;

                    select.form-select {
                        font-size: 14px;
                    }
                }
            }

            .container-goods {
                border: 0.5px solid black;
                display: flex;

                flex-direction: column;
                padding: 5px 15px;

                .types-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 53px;

                    .type-container {
                        display: flex;
                        flex-direction: column;

                        select.form-select {
                            font-size: 14px;
                        }
                    }

                    .number-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 30px;
                            border: 1px solid;
                            padding: 4px 5px;
                            border-radius: 5px;
                        }


                    }

                    .freight,
                    .add-fee,
                    .total-cost {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: center;
                    }

                    .good-weight {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .number {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 30px;
                            border: 1px solid;
                            padding: 4px 5px;
                            border-radius: 5px;
                        }


                    }

                }

                .form-check {
                    display: flex;
                    align-items: start;
                    padding: 15px 24px;
                }

                .charge {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    border-top: 1px solid;
                    padding: 15px;
                    gap: 100px;

                    .total-charge {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .title {
                            font-size: 17px;
                            font-weight: 500;
                        }

                        .number {
                            font-weight: 500;
                        }
                    }
                }
            }

            .goods {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                padding: 5px 15px;
                gap: 91px;

                .good-type {
                    display: flex;
                    flex-direction: column;

                    select.form-select {
                        font-size: 14px;
                    }
                }

                .good-detail {
                    display: flex;
                    flex-direction: column;



                    input {
                        width: 35vw;
                        font-size: 14px;
                        padding: 4px;

                    }
                }




            }

            .notes {
                display: flex;
                flex-wrap: nowrap;
                gap: 26px;
                border: 1px solid;
                padding: 5px 15px;

                .time {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap: 15px;


                    .from-time,
                    .to-time {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 20px;


                        input {
                            width: 34vw;
                            font-size: 14px;
                            padding: 4px;

                        }
                    }
                }

                .note {
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    gap: 15px;

                    textarea {
                        width: 27vw;
                    }
                }
            }

            .contact-for-sale {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid;
                padding: 5px 29px;
                gap: 10px;

                .title {
                    font-weight: 500;
                }

                .main-content {
                    display: flex;
                    gap: 30px;

                    .right-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;

                        .email-customer,
                        .name-customer {
                            display: flex;
                            flex-direction: column;



                            input {
                                width: 40vw;
                                font-size: 15px;
                                padding: 5px;

                            }
                        }
                    }

                    .phone-number-customer {
                        display: flex;
                        flex-direction: column;



                        input {
                            width: 26vw;
                            font-size: 15px;
                            padding: 5px;

                        }
                    }


                }


            }
        }


    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;


    }
}