.footer-contaniner {
    background: #183650;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;

    .main-content {
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 80px 140px;
        gap: 60px;

        .about {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            gap: 30px;
            margin-right: 20px;

            img {
                width: 166px;
                height: 54px;
            }

            .about-content {
                font-size: 15px;
                font-family: sans-serif;
                color: rgba($color: #ffffff, $alpha: 0.5);
            }
        }

        .menu-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 30px;

            .title {
                padding-top: 10px;
                font-size: 15px;
                font-weight: 500;
                font-family: monospace;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;

                .child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 14px;
                    font-family: sans-serif;
                    color: rgba($color: #ffffff, $alpha: 0.5);
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                    }

                }
            }
        }

        .contact-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            gap: 30px;

            .title {
                padding-top: 10px;
                font-size: 15px;
                font-weight: 500;
                font-family: monospace;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;

                .address {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    font-size: 14px;
                    font-family: sans-serif;
                    color: rgba(255, 255, 255, 0.8);

                    svg {
                        font-size: 40px;
                    }

                }

                .hotline {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    font-size: 14px;
                    font-family: sans-serif;
                    color: rgba(255, 255, 255, 0.8);

                    svg {
                        font-size: 24px;
                    }

                }

                .fax {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 12px;
                    font-size: 14px;
                    font-family: sans-serif;
                    color: rgba(255, 255, 255, 0.8);

                    svg {
                        font-size: 20px;
                    }

                }

                .email {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    font-size: 14px;
                    font-family: sans-serif;
                    color: rgba(31, 127, 244, 0.8);
                    text-decoration: underline;
                    cursor: pointer;


                    &:hover {
                        color: #fff;

                    }

                    svg {
                        font-size: 23px;
                        color: #fff;
                    }

                }
            }
        }

        .recent-posts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;
            gap: 30px;

            .title {
                padding-top: 10px;
                font-size: 15px;
                font-weight: 500;
                font-family: monospace;
            }

            .content {
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: center;
                gap: 20px;

                .child {
                    svg {
                        font-size: 15px;

                    }

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;


                    cursor: pointer;

                    a {
                        text-decoration: none;
                        font-family: sans-serif;
                        color: rgba($color: #ffffff, $alpha: 0.5);
                        font-size: 14px;

                        &:hover {
                            color: #fff;
                        }
                    }



                }
            }
        }





    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 135px;

        hr {
            width: 100%;
            opacity: 0.5;

        }

        .content {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;

            .copyright {
                font-size: 14px;
                color: rgba($color: #cfcfcf, $alpha: 0.5);
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                color: rgba($color: #ffffff, $alpha: 0.5);
                cursor: pointer;




                svg {
                    font-size: 25px;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}